<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1 class="mb-4">Register for <strong style="color: #0072bc; font-size:3rem;">UnityPass</strong></h1>
      <div class="alert alert-warning">
        <h5>Note:</h5>
        <ul>
          <li>You can only register for a UnityPass account once. All UnityPass account requests are final and cannot be cancelled or re-submitted.</li>
        </ul>
      </div>
      <div class="row justify-content-center">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "card shadow-sm p-4 col-8") do |f| %>
          <div class="form-group mb-3">
            <%= f.label :email, "Username (Please ensure you can remember this)", class: "form-label" %>
            <%= f.text_field :email, autofocus: true, class: "form-control", required: true %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :password, "Password (Please ensure you can remember this)", class: "form-label" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />            
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :password_confirmation, class: "form-label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="d-flex justify-content-between">
            <%= link_to "Cancel", root_path, class: "btn btn-secondary" %>
            <%= f.submit "Register", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

