<body>
    <div class="container-inbox">
        <div class="list-panel-inbox">
            <div class="contact-history">
                <ul>
                    <% @messages.each do |message| %>
                        <li onclick="showDetails(this)" 
                            data-full-name="<%= message.full_name %>"
                            data-id-number ="<%= message.unique_id %>"
                            data-contact_number ="<%= message.phone_number_country_code %> <%= message.phone_number %>"
                            data-email ="<%= message.email %>"
                            data-message ="<%= message.message %>">
                            <div class="text-content">
                                <h3><%= message.full_name %></h3>
                                <p class="date"><%= DateTime.parse(message.createdAt).strftime("%B %d, %Y %H:%M") %></p>
                                <p><%= message.message.split(' ').take(10).join(' ') %> <%= '...' if message.message.split(' ').size > 10 %></p>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
        <div class="details-panel">
            <h1>Details</h1>
            <p id="name"></p>
            <p id="idNumber"></p>
            <p id="contactNo"></p>
            <p id="email"></p>
            <p id="message"></p>
        </div>
    </div>

    <script>
        function showDetails(element) {
            var fullName = element.getAttribute('data-full-name');
            var idNumber = element.getAttribute('data-id-number');
            var contactNumber = element.getAttribute('data-contact_number');
            var email = element.getAttribute('data-email');
            var message = element.getAttribute('data-message');
            document.getElementById('name').innerHTML = '<strong>Name:</strong> ' + fullName;
            document.getElementById('idNumber').textContent = 'Unique Id: ' + idNumber;
            document.getElementById('contactNo').textContent = 'Contact Number: ' + contactNumber;
            document.getElementById('email').textContent = 'Email: ' + email;
            document.getElementById('message').textContent = 'Message: ' + message;
        }
    </script>
</body>
