<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EnableID Verification</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'homebuttons', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Font Awesome CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    body {
      display: flex;
      flex-direction: column;
      background: url('<%= asset_path('fingerprint.svg') %>') no-repeat center center;
      background-size: cover;
    }
    .content {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
    }
  </style>
</head>
<body>
  <!-- Main Content -->
  <div class="content">
    <div class="overlay"></div>
    <div class="container px-2 py-2">
      <div class="row">
        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <div class="text-center mb-3">
            <%= image_tag @ngo_user.image_url, alt: "#{@ngo_user.name} image", class: "img-fluid", style:"max-width: 100%; height: auto; object-fit: contain;" %>
          </div>
          <div class="row">
            <!-- Verify User button -->
            <div class="col-6 d-flex justify-content-center p-2">
              <%= link_to '#', class: "customhome-button btn btn-secondary", style: 'text-decoration: none; width: 100%; height: 100px;', data: { toggle: "modal", target: "#checkUserModal" } do %>
                <i class="fas fa-user"></i> Verify User
              <% end %>
            </div>

            <!-- Inbox button -->
            <div class="col-6 d-flex justify-content-center p-2">
              <%= link_to ngo_user_path, class: "customhome-button btn btn-secondary", style: 'text-decoration: none; width: 100%; height: 100px;' do %>
                <i class="fas fa-inbox"></i> Inbox
              <% end %>
            </div>

            <!-- Interaction History button -->
            <div class="col-6 d-flex justify-content-center p-2">
              <%= link_to ngo_user_path, class: "customhome-button btn btn-secondary", style: 'text-decoration: none; width: 100%; height: 100px;' do %>
                <i class="fas fa-history"></i> Interaction History
              <% end %>
            </div>

            <!-- Events button -->
            <div class="col-6 d-flex justify-content-center p-2">
              <%= link_to ngo_user_path, class: "customhome-button btn btn-secondary", style: 'text-decoration: none; width: 100%; height: 100px;' do %>
                <i class="fas fa-calendar"></i> Events
              <% end %>
            </div>

            <%# Check if the flag is set to true %>
            <% if @show_add_bulletin_button %>
              <!-- "+" Button -->
              <div class="col-6 d-flex justify-content-center p-2">
                <button type="button" class="customhome-button btn btn-secondary" style="width: 100%; height: 100px;" data-toggle="modal" data-target="#addBulletinModal">
                  <i class="fas fa-plus"></i> Add Bulletin Post
                </button>
              </div>
            <% end %>
          </div>
        </div>
        <!-- Bulletin Board Column -->
        <div class="col-12 col-md-8 mt-4 mt-md-0" id="bulletins-container"> 
          <%= render 'user_particulars/bulletin' %>
        </div>
      </div>
    </div>
  </div>

  <!-- Check User Modal -->
  <div class="modal fade" id="checkUserModal" tabindex="-1" role="dialog" aria-labelledby="checkUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="checkUserModalLabel" style="color: #f1536a;">EnableID Verification</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-center" style="color: #808080;">Please enter details of individual you would like to verify</p>
          <%= form_with url: check_user_ngo_user_path(@ngo_user), method: :post, local: true do %>
            <div class="mb-3">
              <%= label_tag :unique_id, "Unique ID" %>
              <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="Enter Unique ID of user found on their EnableID card"></i>
              <%= text_field_tag :unique_id, params[:unique_id], class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= label_tag :two_fa_passcode, "2FA Code" %>
              <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="Enter 2FA code generated on EnableID user's account"></i>
              <%= text_field_tag :two_fa_passcode, params[:two_fa_passcode], class: "form-control" %>
            </div>
            <div class="text-right">
              <%= submit_tag "Check", class: "btn btn-success" %>
              <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="Brings you to EnableID card page for verification"></i>
            </div>
          <% end %>
          <%- if flash[:notice]%>
            <div class="alert alert-info text-center"><%=flash[:notice]%></div>
          <%- elsif flash[:alert]%>
            <div class="alert alert-warning text-center"><%=flash[:alert]%></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Add bulletin Modal -->
<div class="modal fade" id="addBulletinModal" tabindex="-1" role="dialog" aria-labelledby="addBulletinModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBulletinModalLabel">New Bulletin Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for :bulletin, url: bulletins_path, method: :post do |f| %>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :date %>
            <%= f.date_field :date, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :location %>
            <%= f.text_field :location, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :ngo_name %>
            <%= f.text_field :ngo_name, class: 'form-control' %>
          </div>
          <%= f.submit "Post", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <!-- End of check user modal -->

  <!-- jQuery and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });
  </script>
</body>
</html>
