<div class="container px-5 py-3"> <!-- Add padding for top and bottom -->
  <div class="row align-items-center"> <!-- Use Bootstrap's grid system for alignment -->
    <div class="col-md-4 text-center mb-3 mb-md-0"> <!-- Center logo horizontally and vertically, add margin for small screens -->
      <%= image_tag @ngo_user.image_url, alt: "#{@ngo_user.name} image", class: "img-fluid", style:"max-width: 250px; height: auto; object-fit: contain;" %>
    </div>
    <div class="col-md-8"> <!-- Content on the right -->
      <div class="rounded" style="border: 1px solid #ccc; padding: 20px; border-radius: 20px;"> <!-- Add border, padding, and larger border-radius -->
        <h4 class="text-center" style="color: #f1536a;">EnableID Verification</h4>
        <p class="text-center" style="color: #808080;">Please enter details of individual you would like to verify</p>
        <%= form_with url: check_user_ngo_user_path(@ngo_user), method: :post, local: true do %>
          <div class="mb-3">
            <%= label_tag :unique_id, "Unique ID" %>
            <%= text_field_tag :unique_id, params[:unique_id], class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= label_tag :two_fa_passcode, "2FA Code" %>
            <%= text_field_tag :two_fa_passcode, params[:two_fa_passcode], class: "form-control" %>
          </div>
          <div class="text-right"> <!-- Align button to the right -->
            <%= submit_tag "Check", class: "btn btn-success" %>
          </div>
        <% end %>
        <%- if flash[:notice]%>
            <div class="alert alert-info text-center"><%=flash[:notice]%></div>
        <%- elsif flash[:alert]%>
            <div class="alert alert-warning text-center"><%=flash[:alert]%></div>
        <% end %>
      </div>
    </div>
  </div>
</div>