<div class="container px-5">
  <h2 class="mb-4 mt-4">Verify User</h2> <!-- Added margin-bottom and margin-top for spacing -->

  <% if @checked %>
    <div class="mt-4"> <!-- Add a margin top to create space -->
      <%= render partial: "user_particulars/digitalid", locals: { user_particular: @user_particular } %> <!-- Added underscore in path, unsure if correct -->
      <%= form_with url: verify_user_ngo_user_path(@ngo_user), method: :post, local: true do %>
        <%= hidden_field_tag :unique_id, params[:unique_id] %>
        <%= hidden_field_tag :two_fa_passcode, params[:two_fa_passcode] %>
        <%= submit_tag "Verify", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  <% end %>




