<div id="bulletin" class="d-flex flex-column pri-container m-0 add-small-shadow p-3 pb-3" style='width:100%; max-height: 75vh;'>
  <div class="d-flex mb-4">
    <div class="flex-column flex w-100">
      <h5 class='text-center'>Bulletin Board</h5>
      <div class="input-group w-100 bg-dark search-bar p-1" style='border-radius: 40px;'>
        <span class="input-group-text border-0 text-white" style="font-size: 0.7em; background-color:transparent;">
          <i class="fas fa-bars"></i>
        </span>
        <input type="search" class="form-control bg-dark text-white border-0" id="search-input" placeholder="Search Post" aria-label="Search" aria-describedby="search-addon" style="font-size: 1em;"/>
        <span class="input-group-text border-0 text-white" style="font-size: 0.7em; background-color:transparent;">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
    <% if @ngo_page %>
      <button type="button" class="customhome-button" data-toggle="modal" data-target="#addBulletinModal" style="background-color: #0eac95; color: white;" >
        Add Bulletin Post
      </button>
    <% end %>
  </div>
  <div class="container-fluid mx-0 overflow-auto flex" style="font-size: 0.7em;">
    <div class="row" style='max-height: 100%;' id="event-cards-container">
      <% @bulletins.each do |bulletin| %>
        <% ngo_user = @ngo_users.find { |user| user.name == bulletin.ngo_name } %>
        <div class="col-auto event-card card p-0" style="min-width:170px;" data-ngoname="<%= bulletin.ngo_name %>" data-title="<%= bulletin.title %>" data-description="<%= bulletin.description %>" data-date="<%= bulletin.date ? bulletin.date.strftime("%d %B %Y") : "Date not available" %>" data-location="<%= bulletin.location %>" data-image-url="<%= ngo_user&.image_url.present? ? ngo_user.image_url : 'default.png' %>" >
          <div class="p-0 d-flex flex-column w-100 h-100" data-bs-toggle="modal" data-bs-target="#eventCards">
            <div class="d-flex flex-grow-1 w-100 align-items-center justify-content-center">
              <% if ngo_user&.image_url.present? %>
                <%= image_tag ngo_user.image_url, alt: "#{ngo_user.name} image", style: 'max-width: 100px; max-height: 100px; object-fit: contain;' %>
              <% else %>
                <%= image_tag 'default.png', alt: "Event image", style:  'max-width: 100px; max-height: 100px; object-fit: contain;' %>
              <% end %>
            </div>
            <ul class="list-unstyled pl-1">
              <li class="card-title h6"><%= bulletin.title %></li>
              <li>Date: <%= bulletin.date ? bulletin.date.strftime("%d %B %Y") : "Date not available" %></li>
              <li>Location: <%= bulletin.location %></li>
              <li>Information: <%= bulletin.description %></li>
            </ul>
            <div class="mt-auto d-flex px-1 w-100 align-items-center justify-content-between">
              <small class="text-muted"><%= bulletin.ngo_name %></small>
              <small class="text-end text-muted pr-1"><%= time_ago_in_words(bulletin.created_at) %> ago</small>
            </div>
          </div>
          <div class="d-flex px-1 w-100 align-items-center justify-content-between" style="font-size: 1.3em; border-top: solid 1px lightgrey">
            <%= link_to '#', onclick: 'toggleSavePost(this)', style: 'text-decoration: none;' do %>
              <i style='text-center text-decoration: none; color: black;' class="bi bi-send"></i>
            <% end %>
            <%= link_to '#', onclick: 'toggleSavePost(this)', style: 'text-decoration: none;' do %>
              <i style='text-center text-decoration: none; color: orange;' class="bi bi-bookmark"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="eventCards" tabindex="-1" aria-labelledby="eventCardsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-title">Modal title</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- <img id="modal-photo" src="" alt="Event Photo" style="width: 100%; height: auto;"> -->
          <p id="modal-ngoname"></p>
          <p id="modal-description"></p>
          <p id="modal-date"></p>
          <p id="modal-location"></p>
        </div>
        <div class="modal-footer d-flex justify-content-evenly">
          <button type="button" class="btn-dark px-3 customhome-button">Add to Saved <i style='color: orange;' class="ml-2 m-0 bi bi-bookmark fs-5"></i></button>
        </div>
      </div>
    </div>
  </div>

  

</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#search-input').on('input', function() {
        var searchQuery = $(this).val().toLowerCase();
        $('.event-card').each(function() {
          var title = $(this).data('title');
          var description = $(this).data('description');
          var ngoName = $(this).data('ngoname');
          if (title.includes(searchQuery) || description.includes(searchQuery) || ngoName.includes(searchQuery)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });

      $('.event-card').on('click', function() {
        var title = $(this).data('title');
        var description = $(this).data('description');
        var date = $(this).data('date');
        var location = $(this).data('location');
        var ngoname = $(this).data('ngoname');
        //var imageUrl = $(this).data('image-url');
        $('#modal-ngoname').text(ngoname);
        $('#modal-title').text(title);
        $('#modal-description').text("Description: " + description);
        $('#modal-date').text("Date: " + date);
        $('#modal-location').text("Location: " + location);
        //$('#modal-photo').attr('src', "app/assets/images/" + imageUrl);
      });


      window.toggleSavePost = function(element) {
        // Toggle the 'saved' class or perform an action
        var icon = element.querySelector('i');
        icon.classList.toggle('bi-bookmark-fill');
        icon.classList.toggle('bi-bookmark');
      };
      
    });
  </script>
