<div id="bulletin" class="mb-3 d-flex flex-column pri-container m-0 add-small-shadow p-3 pb-3" style='font-size: 0.7rem; width:100%; max-height: 75vh;'>
  <div class="d-flex mb-4">
    <div class="flex-column flex w-100">
      <h6 class='text-center'>Bulletin Board</h6>
      <div class="input-group w-100 bg-dark search-bar p-1" style='border-radius: 40px;'>
        <span class="input-group-text border-0 text-white" style="font-size: 0.7rem; background-color:transparent;">
          <i class="fas fa-bars"></i>
        </span>
        <input type="search" class="form-control bg-dark text-white border-0" id="search-input" placeholder="Search Post" aria-label="Search" aria-describedby="search-addon" style="font-size: 1em;"/>
        <span class="input-group-text border-0 text-white" style="font-size: 0.7rem; background-color:transparent;">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
    <% if @ngo_page %>
      <button type="button" class="customhome-button" data-toggle="modal" data-target="#addBulletinModal" style="background-color: #0eac95; color: white;" >
        Add Bulletin Post
      </button>
    <% end %>
  </div>
  <div class="container-fluid mx-0 overflow-auto flex" style="font-size: 0.7rem;">
    <div class="row justify-content-evenly" style='max-height: 100%;' id="event-cards-container">
      <% @bulletins.each do |bulletin| %>
        <% saved = @saved_posts&.include?(bulletin.id) %>
        <% ngo_user = @ngo_users.find { |user| user.name.casecmp?(bulletin.ngo_name) } || OpenStruct.new(id: 'N/A', image_url: 'default.png', name: 'Unknown') %>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-1 event-card card p-0" style="min-width:125px; max-width: 220px;" data-ngoid="<%= ngo_user.id %>" data-bulletin-id="<%= bulletin.id %>" data-ngoname="<%= bulletin.ngo_name %>" data-title="<%= bulletin.title %>" data-description="<%= bulletin.description %>" data-date="<%= bulletin.date ? bulletin.date.strftime("%d %B %Y") : "Date not available" %>" data-location="<%= bulletin.location %>" data-image-url="<%= ngo_user&.image_url.present? ? ngo_user.image_url : 'default.png' %>" data-user-id="<%= ngo_user&.id %>">
          <div class="px-1 d-flex flex-column w-100 h-100" data-bs-toggle="modal" data-bs-target="#eventCards">
            <div class="d-flex flex-grow-1 w-100 align-items-center justify-content-center">
              <div class="bulletin-photo">
                <% if bulletin.photo.present? %>
                  <%= image_tag "/uploads/#{bulletin.photo}", alt: "Bulletin photo", class: "img-fluid", style: 'max-width: 100px; max-height: 100px; object-fit: contain;' %>
                <% elsif ngo_user&.image_url.present? %>
                  <%= image_tag ngo_user.image_url, alt: "#{ngo_user.name} image", class: "img-fluid", style: 'max-width: 100px; max-height: 100px; object-fit: contain;' %>
                <% else %>
                  <%= image_tag 'default.png', alt: "Event image", class: "img-fluid", style: 'max-width: 100px; max-height: 100px; object-fit: contain;' %>
                <% end %>
              </div>
            </div>
            <ul class="list-unstyled pl-1">
              <li class="card-title h6"><%= bulletin.title %></li>
              <li>Date: <%= bulletin.date ? bulletin.date.strftime("%d %B %Y") : "Date not available" %></li>
              <li>Location: <%= bulletin.location %></li>
              <li class="truncate-small-multiline">Information: <%= bulletin.description %></li>
            </ul>
            <div class="mt-auto d-flex px-1 w-100 align-items-center justify-content-between">
              <small class="text-muted truncate-small-multiline"><%= bulletin.ngo_name %></small>
              <small class="text-nowrap text-end text-muted pr-1"><%= time_ago_in_words(bulletin.created_at) %> ago</small>
            </div>
          </div>
          <div class="d-flex px-1 w-100 align-items-center justify-content-between" style="font-size: 1.3em; border-top: solid 1px lightgrey">
            <a type="button" onclick="" style="text-decoration: none;" aria_label="sender <%= bulletin.title %> <%= bulletin.id %>" data-ngoid="<%= ngo_user.id %>" data-userid="<%= @user&.id || "" %>" data-bs-toggle="modal" data-bs-target="#sendModal" data-ngoname="<%= bulletin.ngo_name %>">
              <i style="text-center text-decoration: none; color: black;" class="sender bi bi-send"></i>
            </a>
            <% if @on_saved_page %>
              <%= link_to '#', onclick: 'deleteSavePost(this)', data: { bulletin_id: bulletin.id, user_id: @user.id }, style: 'text-decoration: none;', aria_label: "toggle #{bulletin.title} #{bulletin.id}"  do %>
                <i style='text-center text-decoration: none; color: orange;' id='bookmark-icon' class="bookmarker bi bi-bookmark-fill"></i>
              <% end %>
            <% else %>
              <% if @user %>
                <%= link_to '#', onclick: 'toggleSavePost(this)', data: { bulletin_id: bulletin.id, user_id: @user.id }, style: 'text-decoration: none;', aria_label: "toggle #{bulletin.title} #{bulletin.id}" do %>
                  <i style='text-center text-decoration: none; color: orange;' id='bookmark-icon' class="bookmarker bi <%= saved ? 'bi-bookmark-fill' : 'bi-bookmark' %>"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- Event Details Modal -->
  <div class="modal fade" id="eventCards" data-ngoid="" data-userid="<%= @user&.id || "" %>" tabindex="-1" aria-labelledby="eventCardsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-title">Modal title</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- <img id="modal-photo" src="" alt="Event Photo" style="width: 100%; height: auto;"> -->
          <p id="modal-ngoname"></p>
          <p id="modal-description"></p>
          <p id="modal-date"></p>
          <p id="modal-location"></p>
          <p id="modal-id"></p>
        </div>
        <div class="modal-footer d-flex justify-content-evenly">
            <button id="modal-send-btn" type="button" class="btn-primary px-3 customhome-button" data-bs-toggle="modal" data-bs-target="#sendModal"><span class='mr-2'>Send a message </span><i style="text-center text-decoration: none; color: black;" class="m-0 sender bi bi-send fs-5"></i></button>
            <button id="modal-saved-btn" type="button" class="btn-dark px-3 customhome-button"><span id='btn-span-text' class='mr-2'>Add to Saved </span><i style='color: orange;' class="m-0 bi fs-5"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Send a Message to NGO modal -->
<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="sendModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="send-modal-title" id="sendModalLabel"></h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
            <small class="fst-italic" id="sendModalSubLabel"></small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="user_send_message_btn">Send message</button>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('#search-input').on('input', function() {
      var searchQuery = $(this).val().toLowerCase();
      $('.event-card').each(function() {
        var title = $(this).data('title');
        var description = $(this).data('description');
        var ngoName = $(this).data('ngoname');
        if (title.includes(searchQuery) || description.includes(searchQuery) || ngoName.includes(searchQuery)) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    });

    $('.event-card').on('click', function() {
      const bookmarkIcon = $(this).find('#bookmark-icon');
      const modalSavedButtonIcon = $('#modal-saved-btn').find('i');
      var title = $(this).data('title');
      var description = $(this).data('description');
      var date = $(this).data('date');
      var location = $(this).data('location');
      var ngoname = $(this).data('ngoname');
      var id = $(this).data('bulletin-id');
      //var imageUrl = $(this).data('image-url');
      $('#modal-ngoname').text(ngoname);
      $('#modal-title').text(title);
      $('#modal-description').text("Description: " + description);
      $('#modal-date').text("Date: " + date);
      $('#modal-location').text("Location: " + location);
      $('#modal-id').text("Event ID: " + id);
      $('#eventCards').data('ngoid', $(this).data('ngoid'));
      console.log("ModalBtnSavedIcon: " + modalSavedButtonIcon);
      console.log("ModalBtnSavedIcon Class List: " + modalSavedButtonIcon.classList);
      console.log(bookmarkIcon);
      if (bookmarkIcon.hasClass('bi-bookmark-fill')) {
        console.log("the bookmark is supposed to be filled!");
        modalSavedButtonIcon.addClass('bi-bookmark-fill').removeClass('bi-bookmark');
      } else {
        console.log("the bookmark is supposed to be NOT filled!");
        modalSavedButtonIcon.addClass('bi-bookmark').removeClass('bi-bookmark-fill');
      }
      //$('#modal-photo').attr('src', "app/assets/images/" + imageUrl);
    });

    $('[aria_label^="sender"]').on('click', function() {
      var ngoname = $(this).data('ngoname');
      $('#sendModalSubLabel').text(ngoname +" will be able to see your message linked to this event card, together with your EnableID");
      $('#sendModalLabel').text("What do you want to tell " + ngoname +"?");
      $('#sendModal').data('ngoid', $(this).data('ngoid'));
      $('#sendModal').data('userid', $(this).data('userid'));
    });

    $('#modal-send-btn').click(function() {
      var ngoname = $('#modal-ngoname').text();
        $('#sendModalSubLabel').text(ngoname +" will be able to see your message linked to this event card, together with your EnableID");
        $('#sendModalLabel').text("What do you want to tell " + ngoname +"?");
        $('#sendModal').data('ngoid', $('#eventCards').data('ngoid'));
        $('#sendModal').data('userid', $('#eventCards').data('userid'));
    });

    $('#modal-saved-btn').click(function() {
    // Find the <i> element within the button
      var button = this;
      console.log(button);
      var icon = button.querySelector('i');
      console.log(icon);
      var spanText = button.querySelector('#btn-span-text');
      // Toggle the class between bi-bookmark-fill and bi-bookmark
      if (icon.classList.contains('bi-bookmark')) {
          icon.classList.remove('bi-bookmark');
          icon.classList.add('bi-bookmark-fill');
          spanText.textContent = 'Saved';
      } else {
          icon.classList.remove('bi-bookmark-fill');
          icon.classList.add('bi-bookmark');
          spanText.textContent = 'Add to Saved';
      }
      var ariaLabel = "toggle "+ $('#modal-title').text() +" "+ $('#modal-id').text().match(/\d+/)[0];
      var matchingButton = document.querySelector(`a[aria_label="${ariaLabel}"]`);
      console.log(`a[aria_label="${ariaLabel}"]`);
      console.log(matchingButton);
      // Call the toggleSavePost function
      toggleSavePost(matchingButton);
    });

    deleteSavePost = function(element) {
      const bulletinId = element.dataset.bulletinId;
      const userId = element.dataset.userId;

      fetch(`/saved_posts/${userId}?bulletinId=${bulletinId}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        },
        body: JSON.stringify({ user_id: userId })
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          element.querySelector('i').classList.remove('bi-bookmark-fill');
          element.querySelector('i').classList.add('bi-bookmark');
          $(element).closest('.event-card').remove();
          window.location.reload();
        } else {
          console.error('Error:', data.error);
        }
      })
      .catch(error => console.error('Error:', error));
    }

    toggleSavePost = function(element) {
      var icon = element.querySelector('i');
      var bulletinId = element.dataset.bulletinId;
      var userId = element.dataset.userId;
      const csrfTokenMetaTag = document.querySelector('meta[name="csrf-token"]');
        if (csrfTokenMetaTag) {
        const csrfToken = csrfTokenMetaTag.getAttribute('content');
        // Proceed with your logic using csrfToken
        } else {
        console.error('CSRF token meta tag not found');
        }

      // Toggle the 'saved' class or perform an action
      icon.classList.toggle('bi-bookmark-fill');
      icon.classList.toggle('bi-bookmark');

      // Make an AJAX request to toggle the saved state
      fetch(`/saved_posts?bulletin_id=${bulletinId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }
      })
      .then(response => response.json())
      .then(data => {
        if (!data.success) {
          // Revert the icon toggle if the request failed
          icon.classList.toggle('bi-bookmark-fill');
          icon.classList.toggle('bi-bookmark');
          alert('Failed to toggle save state');
        }
      })
      .catch(error => {
        // Revert the icon toggle if there was an error
        icon.classList.toggle('bi-bookmark-fill');
        icon.classList.toggle('bi-bookmark');
        alert('An error occurred');
      });
    };

    $('#user_send_message_btn').click(function() {
        var ngoId = $('#sendModal').data('ngoid');
        var userId = $('#sendModal').data('userid');
        var messageContent = $('#message-text').val();

        if (!messageContent.trim()) {
            alert('Please enter a message before sending.');
            $('#message-text').focus();
            return;  // Stop the function if no message is entered
        }

        $.ajax({
            url: '/user_particulars/' + userId + '/' + ngoId + '/message',  // Adjust the URL as necessary
            type: 'POST',
            data: {
              message: {
                content: messageContent,
                event_title: $('#sendModalLabel').text()
                }
            },
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') // Ensure CSRF token is sent
            },
            success: function(response) {
                $('#message-text').val('');
                $('#sendModal').modal('hide');
                location.reload();
            },
            error: function(xhr) {
                alert('Error sending message: ' + xhr.responseText);
            }
        });
    });
  });
</script>
