<head>
  <%= stylesheet_link_tag '_digitalid', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="container-1">
    <div class="card-1">
      <div class="card-1-header">
        EnableID Digital Card
      </div>
      <div class="card-1-body">
        <div class="photo-1">
          <% if @user_particular%>
            <% if @user_particular.profile_picture.attached? %>
              <%= image_tag @user_particular.profile_picture, alt: "User's profile picture", class: 'img-fluid', style: 'border: 2px solid black;' %>
            <% else %>
              <%= image_tag 'default.png', alt: "Default image", class: 'img-fluid', style: 'border: 2px solid black;' %>
            <% end %>
          <% else %>
              <%= image_tag 'default.png', alt: "Default image", class: 'img-fluid', style: 'border: 2px solid black;' %>
          <% end %>
        </div>
        <div class="details-1">
                    
          <table>
            <tr>
                <td colspan="2"><strong>Full Name:</strong></td>
            </tr>
            <tr>
                <td colspan="2"><%= @user_particular&.full_name.present? ? @user_particular.full_name : "<br>".html_safe %></td>
            </tr>
            <tr>
                <td colspan="2"><strong>Unique Identifier:</strong></td>
            </tr>
            <tr>
                <td colspan="2"><%= @user_particular&.unique_id || "" %></td>
            </tr>
          </table>

          <div class= "section">
            <table class="bordered-table">
            <tr>
                <td colspan="2"><strong>Gender:</strong></td>
                <td colspan="2"><strong>Date of Birth:</strong></td>
            </tr>
            <tr>
                <td colspan="2"><%= @user_particular&.gender.present? ? @user_particular.gender : "<br>".html_safe %></td>

                <td colspan="2"><%= @user_particular&.date_of_birth.present? ? @user_particular.date_of_birth.strftime("%d-%m-%Y") : "<br>".html_safe %></td>
            </tr>
            <tr>
                <td colspan="2"><strong>Ethnicity:</strong></td>
                <td colspan="2"><strong>Date of Arrival:</strong></td>
            </tr>
            <tr>
                <td colspan="2"><%= @user_particular&.ethnicity.present? ? @user_particular.ethnicity : "<br>".html_safe %></td>
                <td colspan="2"><%= @user_particular&.date_of_arrival.present? ? @user_particular.date_of_arrival.strftime("%d-%m-%Y") : "<br>".html_safe %></td>
            </tr>
            <tr>
                <td colspan="2"><strong>Religion:</strong></td>
                <td colspan="2"><strong>Phone Number:</strong></td>
            </tr>
            <tr>
                <td colspan="2"><%= @user_particular&.religion.present? ? @user_particular.religion : "<br>".html_safe %></td>
                <td colspan="2"><%= "+#{@user_particular&.full_phone_number&.gsub('-', '') || ''}" %></td>
            </tr>
            <tr>
                <td colspan="2"><strong>Country of Origin:</strong></td>
            </tr>
            <tr>
                <td colspan="2"><%= @user_particular&.country_of_origin || "" %></td>
            </tr>
        </table>

          </div>
        </div>
      </div>
      <div class="qr-code">
        <%= image_tag 'qrcode.png', alt: "QR Code", class: 'img-fluid' %>        
      </div>
      <div class="card-footer">
        EnableID - Pending Verification from an NGO <i class="custom-verified fas fa-check"></i>
      </div>
    </div>
  </div>
</body>
