<div class="container py-3">
<h1>Confirm Your Details</h1>

<div class="card">
  <div class="card-body">

    <p class="card-text"><strong>Full Name:</strong> <%= @user_particular[:full_name] %></p>
    <p class="card-text"><strong>Phone Number:</strong> <%= @user_particular[:phone_number] %></p>
    <p class="card-text"><strong>Secondary Phone Number:</strong> <%= @user_particular[:secondary_phone_number] || "N/A" %></p>
    <p class="card-text"><strong>Country of Origin:</strong> <%= @user_particular[:country_of_origin] %></p>
    <p class="card-text"><strong>Ethnicity:</strong> <%= @user_particular[:ethnicity] %></p>
    <p class="card-text"><strong>Religion:</strong> <%= @user_particular[:religion] %></p>
    <p class="card-text"><strong>Gender:</strong> <%= @user_particular[:gender] %></p>
    <p class="card-text"><strong>Date of Birth:</strong> <%= Date.parse(@user_particular[:date_of_birth].to_s).strftime("%d-%m-%Y") %></p>
    <p class="card-text"><strong>Date of Arrival in Malaysia:</strong> <%= Date.parse(@user_particular[:date_of_arrival].to_s).strftime("%d-%m-%Y") %></p>

  </div>
</div>

<%= form_with model:@user_particular, url: user_particulars_path, method: :post do |form| %>
  <% @user_particular.as_json.each do |key, value| %>
    <%= form.hidden_field key, value: value %>
  <% end %> 
  <div class="d-flex justify-content-center my-3">
    <%= link_to "Back", :back, class: "btn btn-secondary mx-2" %> 
    <%= form.submit "Confirm", class: "btn btn-danger mx-2" %>
</div>
<% end %>
</div>
