<h1>Confirm Your Details</h1>

<div class="card">
  <div class="card-body">
    <h3 class="card-title">Your Details</h5>
    <p class="card-text"><strong>Full Name:</strong> <%= @user_particulars[:full_name] %></p>
    <p class="card-text"><strong>Phone Number:</strong> <%= @user_particulars[:phone_number] %></p>
    <p class="card-text"><strong>Secondary Phone Number:</strong> <%= @user_particulars[:secondary_phone_number] || "N/A" %></p>
    <p class="card-text"><strong>Country of Origin:</strong> <%= @user_particulars[:country_of_origin] %></p>
    <p class="card-text"><strong>Ethnicity:</strong> <%= @user_particulars[:ethnicity] %></p>
    <p class="card-text"><strong>Religion:</strong> <%= @user_particulars[:religion] %></p>
    <p class="card-text"><strong>Gender:</strong> <%= @user_particulars[:gender] %></p>
    <p class="card-text"><strong>Date of Birth:</strong> <%= @user_particulars[:date_of_birth] %></p>
    <p class="card-text"><strong>Date of Arrival in Malaysia:</strong> <%= @user_particulars[:date_of_arrival] %></p>

  </div>
</div>

<%= form_with(url: user_particulars_path, method: :post) do |form| %>
  <% @user_particulars.each do |key, value| %>
    <%= form.hidden_field key, value: value %>
  <% end %> 
<div class="d-flex justify-content-center my-3">
    <%= link_to "Back", :back, class: "btn btn-secondary mx-2" %> 
    <%= form.submit "Confirm", class: "btn btn-primary mx-2" %>
</div>
<% end %>


