<h1>View user's already filled up userparticulars</h1>

<div class="card">
  <div class="card-body">
    <h3 class="card-title">Your Details</h3>
    <p class="card-text"><strong>Full Name:</strong> <%= @user_particular.full_name %></p>
    <p class="card-text"><strong>Phone Number:</strong> <%= @user_particular.phone_number %></p>
    <p class="card-text"><strong>Secondary Phone Number:</strong> <%= @user_particular.secondary_phone_number.presence || "N/A" %></p>
    <p class="card-text"><strong>Country of Origin:</strong> <%= @user_particular.country_of_origin %></p>
    <p class="card-text"><strong>Ethnicity:</strong> <%= @user_particular.ethnicity %></p>
    <p class="card-text"><strong>Religion:</strong> <%= @user_particular.religion %></p>
    <p class="card-text"><strong>Gender:</strong> <%= @user_particular.gender %></p>
    <p class="card-text"><strong>Date of Birth:</strong> <%= @user_particular.date_of_birth %></p>
    <p class="card-text"><strong>Date of Arrival in Malaysia:</strong> <%= @user_particular.date_of_arrival %></p>
  </div>
</div>


</div>