<div class="container-fluid mt-4 d-flex justify-content-center">
  <!-- Left Side (Digital ID, 2FA, Buttons) -->
  <div class='row d-flex justify-content-center'>
    <div class="col-lg-3 col-md-12">
      <!-- Digital ID Card Container -->
      <div class="d-flex justify-content-between align-items-center">
        <%= render 'digitalid' %>
      </div>
    
      <div style='font-size: 0.7em;'>
        <!-- Display messages at the top of the page -->
        <%- if flash[:notice] %>
          <div class="alert alert-info text-center"><%= flash[:notice] %></div>
        <%- elsif flash[:success] %>
          <div class="alert alert-success text-center"><%= flash[:success] %></div>
        <%- elsif flash[:error_message].present? %>
          <div class="alert alert-danger">
            <ul><%= flash[:error_message] %></ul>
            <% if flash[:error].present? %>
              <ul>
                <% flash[:error].each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- 2FA Container -->
      <div class="d-flex gap-2 my-3 w-100 justify-content-center align-items-center">
        <button id="generate-2fa-btn" class="py-2 px-2 text-nowrap generate-2fa-button" style="font-size:0.8em;">Generate 2FA Passcode:</button>
        <span id='two-fa-passcode' class='py-2 text-nowrap two-fa-passcode-input text-center' style="font-size:0.8em;"><%= @user_particular&.two_fa_passcode || "2FA unavailable" %></span>
      </div>
      <!-- Buttons Container, put under sub main container -->
      <div class="contaianer-fluid pri-container py-3 px-2 d-flex w-100 flex-column flex-wrap">
        <div class="row d-flex justify-content-center g-2">
          <%if @user_particular%>
            <%= link_to new_user_particular_document_path(@user), id: 'documents-button', class: "customhome-button p-2 col-5", style: 'text-decoration: none; height: auto; min-height:40px;' do %>
              <i class="fas fa-file-alt fs-5" style='min-width:20px;'></i> Documents
            <% end %>
          <% end %>

          <%= link_to user_history_path(@user), class: "customhome-button p-2 col-5", style: 'text-decoration: none; height: auto; min-height:40px;' do %>
            <i class="fas fa-history fs-5"></i> Activity History
          <% end %>

          <%if @user_particular%>
            <%= link_to saved_post_user_particular_path(@user_particular), class: "customhome-button p-2 col-5", style: 'text-decoration: none; height: auto; min-height:40px;' do %>
              <i style='color: orange;' class="bi bi-bookmark-fill fs-5"></i> Saved Post
            <% end %>
            <%= link_to contact_ngo_path(@user_particular), class: "customhome-button p-2 col-5", style: 'text-decoration: none; height: auto; min-height:40px;' do %>
              <i class="fas fa-search fs-5"></i> Search Services
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Right Side (Bulletin Board) -->
    <div class="col-lg-8 col-md-12 mx-0 d-flex justify-content-center">
      <%= render 'bulletin' %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="verificationWarningModal" tabindex="-1" role="dialog" aria-labelledby="verificationWarningModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verificationWarningModalLabel">Caution!</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        If you continue, you will lose your verification status and will need to be verified again by an NGO admin. Do you want to proceed?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <% if @user_particular.present? %>
          <%= link_to "Proceed", edit_user_particular_path(@user_particular), class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @user_particular.present? %>
  <script>
    $(document).ready(function() {
      $('#generate-2fa-btn').click(function(e) {
        e.preventDefault();
        console.log('HELLO');
        $.ajax({
          url: '<%= generate_2fa_path(@user_particular) %>',
          type: 'POST',
          dataType: 'json',
          headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          },
          success: function(data) {
            $('#two-fa-passcode').text(data.two_fa_passcode);
          },
          error: function(xhr, status, error) {
            console.error('AJAX Error:', status, error);
          }
        });
      });
    });
  </script>
<% end %>
