  <div class="row d-flex justify-content-center">
    <!-- Left Side (Digital ID, 2FA, Buttons) -->
  <div class="py-2 col-md-4 mb-4 mb-md-0">

    <!-- Digital ID Card Container -->
    <div class="mb-3 d-flex justify-content-between align-items-center" style="padding:0px 10px 0px 0px;">
      <%= render 'digitalid' %>
    </div>
  
      <!-- 2FA Container -->
      <div class="text-center mb-3">
        <div class="card-body d-flex justify-content-center align-items-center h-100">
          <button id="generate-2fa-btn" class="text-nowrap generate-2fa-button">Generate 2FA Passcode:</button>
          <span id='two-fa-passcode' class='text-nowrap two-fa-passcode-input'><%= @user_particular&.two_fa_passcode || "2FA Passcode is not set up." %></span>
        </div>
        <!-- Buttons Container, put under sub main container -->
        <div class="pri-container d-flex flex-wrap w-100">
          <% if @user&.nil? %>
          <% else %>
            <%= link_to user_document_path(@user), class: 'customhome-button', style: 'text-decoration: none;' do %>
              <i class="fas fa-file-alt"></i> Documents
            <% end %>
            <%= link_to user_history_path(@user), class: 'customhome-button', style: 'text-decoration: none;' do %>
              <i class="fas fa-history"></i> Activity History
            <% end %>
            <%= link_to new_user_particular_path, class: "customhome-button", id: "fill-in-particulars-btn", style: 'text-decoration: none;' do %>
              <i class="fas fa-user"></i> Personal
            <% end %>
            <% if @user_particular&.status == 'verified' %>
              <%= link_to edit_user_particular_path(@user), class: 'customhome-button', style: 'text-decoration: none;' do %>
                <i class="fas fa-user"></i> Personal
              <% end %>
            <% else %>
              <%= link_to edit_user_particular_path(@user), class: 'customhome-button', style: 'text-decoration: none;' do %>
                <i class="fas fa-user"></i> Personal
              <% end %>
            <% end %>
          <% end %>
          <%= link_to user_particulars_family_path, class: 'customhome-button', style: 'text-decoration: none;' do %>
            <i class="fas fa-users"></i> Family
          <% end %>
          <%= link_to user_particulars_family_path, class: 'customhome-button', style: 'text-decoration: none;' do %>
            <i class="fas fa-save"></i> Saved Post
          <% end %>
          <%= link_to user_particulars_family_path, class: 'customhome-button', style: 'text-decoration: none;' do %>
            <i class="fas fa-search"></i> Search NGOs
          <% end %>
        </div>
      </div>
    </div>
    <!-- Right Side (Bulletin Board) -->
    <div class="col-md-7">
      <%= render 'bulletin' %>
    </div>
  </div>
  <!--
<div class='row justify-content-center'>
  <% if @user_particular.nil? %>
    <%= link_to "Fill in your particulars to get your Digital ID!", new_user_particular_path, class: "btn btn-danger", id: "fill-in-particulars-btn" %>
  <% else %>
    <% if @user_particular.status == 'verified' %>
      <button type="button" class="btn btn-primary p-3" data-bs-toggle="modal" data-bs-target="#verificationWarningModal">
        Edit your particulars!
      </button>
    <% else %>
      <%= link_to "Edit your Particulars!", edit_user_particular_path(@user_particular), class: "btn btn-primary btn-danger p-3" %>
    <% end %>
  <% end %>
</div>
<%# End of EnableID card partial and filling in/edit button%>
-->
  <!-- Modal -->
  <div class="modal fade" id="verificationWarningModal" tabindex="-1" role="dialog" aria-labelledby="verificationWarningModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="verificationWarningModalLabel">Caution!</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          If you continue, you will lose your verification status and will need to be verified again by an NGO admin. Do you want to proceed?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <% if @user_particular.present? %>
            <%= link_to "Proceed", edit_user_particular_path(@user_particular), class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
