<!DOCTYPE html>
<html>
  <head>
    <title>Our ID Boleh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "data.js" %>
  </head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <body>
      <div class="container mt-5">

      <%= yield %>
      <footer class="text-center mt-5">
        <p>Our ID Boleh © 2024 | A Documented Malaysia</p>
        <p><a href="https://refugeemalaysia.org/disclaimer/">Disclaimer</a> | <a href="https://refugeemalaysia.org/privacy-policy/">Privacy Policy</a></p>
      </footer>
    </div>
  </body>
</html>
