<!DOCTYPE html>
<html>
  <head>
    <title>Our ID Boleh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <body>
      <h1 class="text-center" style="background-color: #0072bc; color: white">Our ID Boleh</h1>
      <div class="container mt-5">
      
      <!--Display messages at the top of the page-->
      <%- if flash[:notice]%>
      <div class="alert alert-info text-center"><%=flash[:notice]%></div>
      <%- elsif flash[:success]%>
      <div class="alert alert-success text-center"><%=flash[:success]%></div>
      <%- elsif flash[:error].present? %>
        <div class="alert alert-danger">
          <ul>Please fix the error(s) below: </ul>
          <ul>
            <% flash[:error].each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= yield %>
      <footer class="footer text-center mt-5 py-3 bg-light">
        <p>Our ID Boleh © 2024 | A Documented Malaysia</p>
      </footer>
    </div>
  </body>
</html>
