<!DOCTYPE html>
<html>
  <head>
    <title>EnableID</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous"
    />
    <style>
      body {
        background-color: #f8f9fb;
        background-image: url('<%= asset_path('background.svg') %>');
        background-size: cover;
        background-position: center;
      }
    </style>
  </head> 
  <body class="d-flex flex-column h-100 w-100 min-vh-100" style="overflow-x:hidden;">
    <h4 class="text-center py-2" style="background-color: #f1536a; color: white; margin-bottom:0;">Account Login/Registering</h4>
    <%= yield %>
  </body>
</html>
